

<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153757373-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'UA-153757373-1');
	</script> -->
    <title>RISE FITNESS | Revolutionising Personal Training</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="" name="keywords">
    <meta content="" name="description">
	<!-- Favicons -->
    <!-- <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Lexend+Peta&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Amiri|Domine|Karla|Saira+Extra+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- Landing page stylesheet -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<!-- Libraries CSS Files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.css" rel="stylesheet">
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
	<!-- <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> 
	<link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">  -->
	<!-- Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	<!-- Stripe -->
	<script src="https://js.stripe.com/v3/"></script>
	<!-- Axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
	
	 
	
	
<body>
	
	
<header id="header" class="header-scrolled">
	<div class="container">
      <div class="logo float-left">
        <h1 class="text-light"><a href="/" class="scrollto"><span>R I S E</span></a></h1>
      </div>

	<!-- .main-nav -->
	 <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/#about">About Us</a></li>
          <li><a href="/#trust">Trust & Safety</a></li>
          <li><a href="/#become-pt">Become a PT</a></li>
		  <li><a href="/#pricing">Prices</a></li>
		  <%if (!currentUser){ %>
			<li><a href="/#register">Register</a></li>
			<li><a href="/login">Login</a></li>
		  <% }else{ %>
			<li><a href="/users/<%= currentUser._id %>">My Profile</a></li>
			<li><a href="/logout">Log Out</a></li>
		  <% } %>
        </ul>
      </nav>
    </div>
  </header><!-- #header -->
		
		
		
	
	<!-- Flash messages  -->
	
	<div class="container-fluid" id="alert-div">
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% } %>
		<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
		<% } %>
	</div>
     

	