<% include ../partials/header %>




<div class="d-flex justify-content-center align-items-center login-container">
    <form class="login-form text-center" action= "/login" method= "POST">
        <h1 class="mb-4 font-weight-light text-uppercase">Login</h1>
		<div id="root"></div>
        	<div class="form-group">
                <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Email" name= "email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control rounded-pill form-control-lg" placeholder="Password"  name= "password" id="passwordInput" minlength="5" required>
            </div>
        <div class="forgot-link form-group d-flex justify-content-between align-items-center">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" onclick="togglePassword()">
                <label class="form-check-label" for="remember" id="remember-text">Show Password</label>
            </div>
         	<a href="#">Reset Password</a>
        </div>
        <button type="submit" class="btn mt-2 rounded-pill btn-lg btn-custom btn-block text-uppercase">LOGIN</button>
        <p class="mt-3 font-weight-normal" style="
    font-size: 13px;" >Don't have an account? <a href="/#register"><strong>Register Now</strong></a></p>
    </form>
</div>

 


<% include ../partials/footer %>