<% include ../partials/header %>

<div class="d-flex justify-content-center align-items-center register-container">
	<form class="login-form text-center" action="/register" method="POST" enctype="multipart/form-data">
    <h1 class="mb-2 mt-5 font-weight-light text-uppercase">REGISTER</h1>
		<div class="form group mb-3">
			<input type="hidden" value="Personal Trainer" name="accountType"></input>
		</div>	
		<div class="form-group" style=" font-size: 13px;">
<label class="mb-0">Gender: </label>
<label class="radio-inline"><input type="radio" name="gender" value="M" checked style="margin-right: 5px;">Male</label>
<label class="radio-inline"><input type="radio" name="gender" value="F" style="margin-right: 5px;">Female</label>			 
        </div>
        <div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="First Name" name= "firstName" required>
        </div>
		<div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Last Name" name= "lastName" required>
        </div>
		<div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Home Address" name= "address" required>
        </div>
		<div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Post Code" name= "postCode" required>
        </div>
		<div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Mobile Number" name= "contactNumber" required>
        </div>
		<div class="form-group">
        	<input type="text" class="form-control rounded-pill form-control-lg" placeholder="Email Address" name= "email" required>
        </div>
        <div class="form-group text-left">
        	<input type="password" class="form-control rounded-pill form-control-lg" placeholder="Password"  name= "password" id="passwordInput" minlength="5" required>
			<input type="checkbox" id="show-password-checkbox" onclick="togglePassword()"><span class="password-text">Show Password</span>
        </div>
		<div class="form-group mb-0">
	<label id="upload-profile-pic-text">UPLOAD PROFILE PICTURE</label>
     <input type= "file" id="files" class="form-control rounded-pill form-control-lg mb-4" placeholder="Profile Picture" name= "profilePicture" accept="image/*" required>
    </div>
		<button type="submit" class="btn rounded-pill btn-lg btn-custom btn-block text-uppercase">CREATE MY ACCOUNT</button>
		<p class="mt-3 font-weight-normal"><a href="/"><strong>Back to the home page</strong></a></p>
    </form>
</div>




<% include ../partials/footer %>