<!DOCTYPE html>
<html>
<head>
	
	<!-- <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153757373-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'UA-153757373-1');
	</script> 
	
    <title>RISE FITNESS | Revolutionising Personal Training</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="" name="keywords">
    <meta content="" name="description">
	
	<!-- Favicons -->
    <!-- <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Lexend+Peta&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Amiri|Domine|Karla|Saira+Extra+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	<!-- Landing page stylesheet -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	
	<!-- Libraries CSS Files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.css" rel="stylesheet">
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">


	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
	
	<!-- <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> 
	<link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">  -->
	
	<!-- Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	
	<!-- Stripe -->
	<script src="https://js.stripe.com/v3/"></script>
	
</head>
	

	
<body>
  <!--========================== Header ============================-->
<header id="header">
	
	
	
	<div class="container">
      <div class="logo float-left">
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>R I S E</span></a></h1>
      </div>

	<!-- .main-nav -->
	 <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#about">About Us</a></li>
          <li><a href="#trust">Trust & Safety</a></li>
          <li><a href="#become-pt">Become a PT</a></li>
		  <li><a href="#pricing">Prices</a></li>
		  <li><a href="#faq">Faq</a></li>
		  <%if (!currentUser){ %>
			<li><a href="#register">Register</a></li>
			<li><a href="/login">Login</a></li>
		  <% }else{ %>
			<li><a href="/users/<%= currentUser._id %>">My Profile</a></li>
			<li><a href="/logout">Log Out</a></li>
		  <% } %>
        </ul>
      </nav>
    </div>
  </header><!-- #header -->
	
	
		 <!-- Flash messages  -->
	 <div class="container-fluid" id="alert-div">
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% } %>
		<% if(success && success.length > 0){ %>
			<div class="alert alert-success " role="alert">
				<%= success %>
			</div>
		<% } %>
	</div>  
	

  <!--========================== Intro Section ============================-->
<section id="intro" class="clearfix">
	<div class="row container d-flex h-100 justify-content-around">
        <div class="col-md-6 intro-info order-md-first order-last align-self-center">
			<div class="booking-form">
              <form action="/personaltrainers" method="GET">
                <div class="form-group">
                <span class="form-label">WHERE ARE YOU LOCATED?</span>
    <input class="form-control" type="text" placeholder="enter your post-code e.g. SE8 5AX" name="postcode" required>
                </div>
                <div class="form-btn">
                  <button class="submit-btn">SEARCH TRAINERS NEAR ME</button>
                </div>
              </form>
            </div>
        </div>
        <div class="col-md-6 intro-info order-md-last order-first align-self-center">
            <h2>Train Anywhere<br>On Your Terms</h2>
        </div>
	</div>
</section><!-- #intro -->
	


 <main id="main">

	
<!--========================== Register Section ============================-->
<section id="register">
	<div class="container"> 
	    <header class="section-header">
          <h3>Register</h3>
          <p>Please select an option below.</p>
        </header>
	<div class="row feature-item justify-content-around" >
		<div class="col-xs-12 col-lg-5 wow fadeInUp pt-5 pt-lg-0 register-box" onClick="location.href='/registerclient'">
            <h4 class="text-center mt-5">I am looking for a personal trainer</h4>
          </div>
          <div class="col-xs-12 col-lg-5 wow fadeInUp pt-5 pt-lg-0 register-box" onClick="location.href='mailto:risefitnesslondon@gmail.com?subject=RISE personal trainer application'">
            <h4 class="text-center mt-5">I am a personal trainer</h4>
          </div>
        </div>
	</div>
</section>


<!--========================== Trust and Safety ============================-->
    <section id="trust" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Trust & Safety</h3>
          <p>Your safety is our priority.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-copy-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Background check</a></h4>
              <p class="description text-center">Every RISE trainer is fully vetted before they can begin accepting bookings. We check for criminal records, dbs, qualifications and more.</p>
            </div>
          </div>
			
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-person-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">In person interview</a></h4>
              <p class="description text-center">Each RISE trainer must go through a face to face interview to ensure they are the right person to provide the best training possible.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-people-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Rise Together events</a></h4>
              <p class="description text-center">We organise regular RISE TOGETHER events to allow you to connect with other RISE clients and also meet our trainers in person.</p>
            </div>
          </div>
			
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-locked-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Stripe payment</a></h4>
              <p class="description text-center">All payments on the RISE platform are powered by Stripe. This guarantees both clients and trainers are protected.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-star-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Rise rating</a></h4>
              <p class="description text-center">Our reviews system will allow you to see what others thought of specific trainers - ensuring complete transparency.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-chatboxes-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="">Session check-ins</a></h4>
              <p class="description text-center">We will check in with both trainer and client before session begins to confirm both parties are safe.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

<!--==========================   Become a Rise Trainer  ============================-->
    <section id="become-pt" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Become a RISE trainer</h3>
          <p>We believe in you.</p>
        </header>

        <div class="row align-items-center">

        

          <div class="col-lg-6 order-last order-sm-first">
            <div class="become-pt-content">
              <p>
Our mission is simple - empower people through personal fitness. This means empowering our trainers to become high performance individuals. Follow the below steps to become a trainer.
              </p>

              <div class="features wow bounceInUp clearfix">
				  
                <i class="far fa-envelope text-center" style="color: #f058dc;"> </i>
                <h4 class="become-trainer-text">Application</h4>
                <p>First you will need to email risefitnesslondon@gmail.com to register your interest in becoming a RISE trainer.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fas fa-user-check" style="color: #ffb774;"></i>
                <h4 class="become-trainer-text">Verification</h4>
          <p>We will then check your qualifications/documents to ensure they are authentic.</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fas fa-comments" style="color: #589af1;"></i>
                <h4 class="become-trainer-text">Interview</h4>
                <p>Lastly, we will invite you for an interview to get to know you a bit more! You will then be onboarded to the RISE platform.</p>
              </div>
              
            </div>

          </div>
			  <div class="col-lg-6 order-first order-sm-last ">
            <div class="become-pt-img">
              <img src="https://svgur.com/i/H0m.svg" style="
    margin-bottom: 30px;" alt="" class="img-fluid">
            </div>
          </div>
        </div>

      </div>


      </div>
		
		
    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Booking a trainer is simple.</h3>
            <p class="cta-text">Once you have registered an account you can find trainers in your area by inputting your post-code in the search box. Register and find a trainer today!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle back-to-top2" href="#">Find a trainer</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action --> 

	
	
	    <!--==========================  About Us Section ============================-->
<section id="about">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-lg-7 col-md-6">
            <div class="about-img">
              <img src="https://svgur.com/i/H1y.svg" alt="">
            </div>
          </div>

          <div class="col-lg-5 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              <h3>Our mission is to empower you through personal fitness.</h3>
              <p>We created RISE because we believed that the traditional gym environment was not suited for everybody. We want to help people reach their fitness goals without stepping foot outside of their homes.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> All of our trainers are level 3 qualified.</li>
                <li><i class="ion-android-checkmark-circle"></i> All of our trainers have professional insurance.</li>
                <li><i class="ion-android-checkmark-circle"></i> All of our trainers have years of experience in their specialities.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->

	


    <!--==========================  Pricing Section ============================-->
    <section id="pricing" class="wow fadeInUp section-bg">

      <div class="container">

        <header class="section-header">
          <h3>Pricing</h3>
          <p>Pay less when you book a package.</p>
        </header>

        <div class="row flex-items-xs-middle flex-items-xs-center">
      
          <!-- Basic Plan  -->
          <div class="col-xs-12 col-lg-4">
            <div class="card">
              <div class="card-header text-center">
                <h3 class="text-center"><span class="currency">£</span>65<span class="period"></span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title"> 
                  Pay As You Go
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">On the go workout</li>
                  <li class="list-group-item">Quick intensive exercises</li>
                  <li class="list-group-item">Great for short-term fitness</li>
                </ul>
                <!-- <a href="#" class="btn">Choose Plan</a> -->
              </div>
            </div>
          </div>
     
          <!-- Regular Plan  -->
          <div class="col-xs-12 col-lg-4">
            <div class="card">
              <div class="card-header text-center">
                <h3 class="text-center"><span class="currency">£</span>300<span class="period"></span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title"> 
                 5 Session Package
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">£60 per session</li>
                  <li class="list-group-item">Great for consistent training</li>
                  <li class="list-group-item">Build strong habits</li>
                </ul>
                <!-- <a href="#" class="btn">Choose Plan</a> -->
              </div>
            </div>
          </div>
      
          <!-- Premium Plan  -->
          <div class="col-xs-12 col-lg-4">
            <div class="card">
              <div class="card-header text-center">
                <h3 class="text-center"><span class="currency">£</span>550<span class="period"></span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title"> 
                 10 Session Package
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">£55 per session</li>
                  <li class="list-group-item">Develop at-home workout knowledge</li>
                  <li class="list-group-item">Great for lifestyle building</li>
                </ul>
                <!-- <a href="#" class="btn">Choose Plan</a> -->
              </div>
            </div>
          </div>
      
        </div>
      </div>

    </section><!-- #pricing -->

    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Frequently Asked Questions</h3>
          <p>Below are some of our most asked questions.</p>
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">What happens if I want to cancel a booking? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                You can cancel a booking by calling us and we will notify your trainer. If a booking is cancelled less than 48 hours prior to the session you will not recieve a refund. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">How long is a session?<i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
				 A workout session normally last 1 hour - however, you can choose to book for 2 hours. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Do you only provide at-home workouts? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                Nope! RISE allows you to workout at your chosen location i.e. office/park/home. Just be sure you put in the correct address in the booking form. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">What exercises can I do? <i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
               We currently offer boxing, high intensity training and cardio. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">What happens if a trainer does not turn up on time? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                If a trainer does not turn up on time we will refund you 50% of the booking cost. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Is RISE only based in London? <i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                Yes we currently only offer services in London - however, we intend to expand in the future. 
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- #faq -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>RISE FITNESS LTD</h3>
                    <p>RISE is a platform which connects personal trainers to clients in their area for workouts. Workouts can be done at home, at the park - or even at the office! Our mission is to empower individuals through personal fitness.</p>
                  </div>

                  <div class="footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe below to keep up to date with RISE.</p>
                    <form action="" method="post">
                      <input type="email" name="email"><input type="submit"  value="Subscribe">
                    </form>
                  </div>

                </div>

                <div class="col-sm-6" >
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li ><a href="#">Home</a></li>
					  <li ><a href="#">About</a></li>   	
                      <li><a href="#">Terms of service</a></li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      <strong>Phone:</strong> +44 75345 07917<br>
                      <strong>Email:</strong> risefitnesslondon@gmail.com<br>
                    </p>
                  </div>
                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
            </div>
		</div>
          <div class="col-lg-6">
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>RISE FITNESS LTD</strong>. All Rights Reserved
      </div>
      <!-- <div class="credits"> -->
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div> -->
    </div>
  </footer><!-- #footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	
		
		
		


	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
<!-- CDNs -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>


	
<!-- Template Main Javascript Files -->
	<script src="/mobile-nav.js"></script>
	<script src="/landing.js"></script>


	
</body>
</html>