/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background-color: #cdcaf938;
  font-family: "Open Sans", sans-serif;
  color: #313338f0;
} 

a {
  color: #1bb1dc;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #1bb1dc;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}


@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}


 
.checkout-button{
	display: inline-block;
	color: #fff;
	background-color: #ff2b1b;
	font-weight: 600;
	font-size:0.9rem;
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.5s all;
	font-family: "Karla";
	letter-spacing: 1.5px;
}
.checkout-button:hover,
.checkout-button:focus,
.checkout-button:active,
.checkout-button:active:focus{
opacity: 0.9;
  background: #54229d;
  border-color: #54229d;
  color:#fff;
}

.btn{
	display: inline-block;
	color: #fff;
	background-color: #0b52d4;
	font-weight: 800;
	font-size:0.9rem;
	padding: 10px 20px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.5s all;
	font-family: "Karla";
	letter-spacing: 1.5px;
	border-radius: 50px;
}


.btn-accept{
	display: inline-block;
	background: #00b326;
  	border-color:#00b326;
	color: #fff;
	font-size:1rem;
	padding: 0.20rem 0.5rem;
	border-radius: 50px;
	border: none;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-reject{
	display: inline-block;
	background: #bb001a;
  	border-color:#bb001a;
	color: #fff;
	font-size:1rem;
	padding: 0.20rem 0.5rem;
	border-radius: 50px;
	border: none;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-accept:focus,
.btn-accept:hover,
.btn-accept:active,
.btn-accept:active:focus{
  background: #413e66;
  border-color: #413e66;
  color:#fff;
}
.btn-accept:focus{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

.btn-reject:focus,
.btn-reject:hover,
.btn-reject:active,
.btn-reject:active:focus{
  background: #413e66;
  border-color: #413e66;
  color:#fff;
}
.btn-reject:focus{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}


hr.style-one  {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hide-button{
	display: none;
}
/*--------------------------------------------------------------------------------------------------------------*/
/*ALERTS*/

#alert-div{
	position: absolute;
    border: 1px solid transparent;
    border-radius: 50px;
	margin-top: 5rem;
}

.alert {
    padding: .75rem 1.25rem;
    border-radius: 50px;
	font-size: 14px;
	width: 98%;
    z-index: 1;
    margin-left: 0.8%;
}

.alert-danger {
	background-color: #ff7b7b;
    border-color: #ff7b7b;
}


.alert-success {
	background-color: #c8d0e3;
    border-color: #c8d0e3;
}


/*--------------------------------------------------------------------------------------------------------------*/
/*FORMS*/
input[type="radio"]{
  	margin: 0 15px 0 15px;
}

.radio-inline{
	margin-bottom: 0%;
}

#register-form {
	margin-top: 7%;
}
#register-form a{
	font-family: "Karla";
	letter-spacing: 1.5px;
	font-size:1.1rem;
	font-weight: 100;
}

#register-form booking-form {
    background-color: #fcfcff;
    padding: 10px 10px;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
	margin-top: 7%;
}

.password-text{
	font-size: 13px;
	margin-left: 1%;
	color: #666;
}

#show-password-checkbox{
    box-sizing: border-box;
	margin-top: 0.45rem;
	margin-left: 0rem;
}

select {
	background-color: #ebecee;
    border-radius: 5px;
    border: none;
    height: 27px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3e485c;
	font-family: "Karla";
	letter-spacing: 1.5px;
	font-size:1.1rem;
	font-weight: 100;
}

/*--------------------------------------------------------------------------------------------------------------*/

.register-container{
  height: 150vh;
  width: 100%;
}

.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}

.login-form .form-control{
  font-size: 13px;
  min-height: 48px;
  font-weight: 500;
  font-family: "Karla";	
 box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);	
}
.login-form a{
  font-size: 13px;
  text-decoration: none;
  color:#666;
}
.login-form a:hover{
  color:#1bb1dc;
}

#remember-text{
 font-size: 13px;
 color: #666;
}


.form-control:focus{
  border-color:#723dbe;
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

.form-check-input {
    position: absolute;
    margin-top: 0.45rem;
    margin-left: -1.25rem;
}

.btn-custom{
  background: #333063;
  border-color:#333063;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);	
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: #413e66;
  border-color: #413e66;
  color:#fff;
}
.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

#upload-profile-pic-text{
	font-size: 15px;
    font-weight: bold;
    font-family: "Karla";
	margin-bottom: 0%;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  margin-top:9%;
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
  padding-bottom: 1%;
}


#show-all-header-margin{
	margin-top: 5rem!important;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 110px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

#header .logo h1 {
  font-size: 35px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #413e66;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.main-pages {
  margin-top: 60px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #413e66;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #1bb1dc;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #065e77;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 38, 70, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}



/*--------------------------------------------------------------------------------------------------------------*/
/*SHOW MULTIPLE PERSONAL TRAINERS PAGE*/
.img-thumbnail img {
	width: 100%;
	/* max-height: 270px; */
	margin-right: 5%;
	
}

.img-fluid{
	max-width:100%;
	max-height:auto;
}

 .img-fluid-showall{
	/* max-width:300px; */
	height: 300px;
	max-height:100%;
	width: 300px;
	border-radius:5px;
}

.img-thumbnail {
	padding: 0px;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
	border: none;
	max-height: 500px;
	max-width: 100%;
	
};

.img-thumbnail .caption-full{
	padding: 9px;
} 

.col-md-3 {
    padding-top: 20px;
}

#row-1{
	margin-right: 0px; 
}


#trainers {
  padding: 60px 0;
}

#trainers .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#trainers .member .member-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 17px 0;
  background: #ffffff;
}

#trainers .member .member-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#trainers .member:hover .member-info {
  transition: 0.4s;
}

#trainers .member:hover .member-info-content {
  height: 80px;
}

#trainers .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #413e66;
}

#trainers-btn{
	margin-top:1.5%;
    display: inline-block;
    color: #fff;
    background-color: #0b52d4;
    font-weight: 800;
    font-size: 0.9rem;
    padding: 7.5px 20px;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.5s all;
    font-family: "Karla";
    letter-spacing: 1.5px;
    border-radius: 50px;
}


/*--------------------------------------------------------------------------------------------------------------*/
/*USER PROFILE PAGE*/

@media (min-width: 768px)
.main-content .container-fluid {
    padding-left: 39px !important;
    padding-right: 39px !important;}

.main-content .container-fluid {
    padding-left: 39px !important;
    padding-right: 39px !important;}

.header {
  position: relative;}

.bg-gradient-default {
  background: linear-gradient(87deg, #d9d6ffc4 0, #d9d6ff91 100%) !important; }

 .opacity-8 {
  opacity: .8 !important; }

.opacity-8 {
  opacity: .9 !important; }

.text {
  color: #413e66 !important; }

.pb-8, .py-8 {
	padding-bottom: 11rem !important;} 

@media (min-width: 992px)
.pt-lg-8, .py-lg-8 {
    padding-top: 5rem !important;}

.main-content .pt-5{
	padding-top: 5rem!important;}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f7fafc;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);}

.shadow, .card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;}

@media (min-width: 992px)
.order-lg-2 {
    order: 2;}

@media (min-width: 992px)
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;}


@media (min-width: 1200px)
.mb-xl-0, .my-xl-0 {
    margin-bottom: 0 !important;}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}
@media (min-width: 1200px)
.order-xl-2 {
    order: 2;
}
@media (min-width: 1200px)
.col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.rounded-circle {
  border-radius: 5% !important; }

.card-profile-image {
  position: relative; }
  .card-profile-image img {
    max-width: 350px;
	/* margin-top: 50%; */
	 max-height:250px;
    border-radius: 0.375rem;
    transform: translate(-50%, -30%);
    position: absolute;
    left: 50%;
    transition: all 0.15s ease; }
    .card-profile-image img:hover {
      transform: translate(-50%, -33%); }

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem; 
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card-body-2 {
  border-top: 5px solid #333063;
  flex: 1 1 auto;
  padding: 1.5rem; 
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 5px;
}

.card-stats .card-body {
  padding: 1rem 1.5rem; }

.bg-secondary {
  background-color: #ffffff!important; }

.bg-grey {
  background-color:#F1F2F4 !important; }

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-top: 3.5px solid #333063;
}


.text-right {
  text-align: right !important; }

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem; }

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.card-stats .card-body {
  padding: 1rem 1.5rem; }

.card-stats .card-status-bullet {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%); }


.card-title {
  font-weight: 700 !important;
  font-size: 1.25rem;	 
}

.text-muted {
  color: #8898aa !important; }

/* .col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; } */


.icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }
  .icon-shape i, .icon-shape svg {
    font-size: 1.25rem; }
  .icon-shape.icon-lg i, .icon-shape.icon-lg svg {
    font-size: 1.625rem; }
  .icon-shape.icon-sm i, .icon-shape.icon-sm svg {
    font-size: .875rem; }
  .icon-shape svg {
    width: 30px;
    height: 30px; }

.pb-5, .py-5 {
    padding-bottom: 4rem!important;
}

.pt-5, .py-5 {
    padding-top: 4rem!important;
}

.text{
	margin: 0 0 0 0;
}

.text-muted {
    color: #8898aa !important;
    font-size: 0.9rem;
    margin-bottom: -5%;
}

.text-success{
	font-size: 0.9rem;
}

.text-danger{
	font-size: 0.9rem;
}

.text-secondary{
	font-size: 0.9rem;
}


/*--------------------------------------------------------------------------------------------------------------*/
/*SHOW INDIVIDUAL PERSONAL TRAINER PAGE*/

.rise-rating{
	/* font-weight: bold; */
	font-size: 2.5rem;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.2px;
	margin-top: 3%;
	margin-bottom: 2%;
}


.personaltrainer-text h2{
	font-weight:100;
	font-size:2.8rem;
	font-family: "Karla";
}

.personaltrainer-text p{
	font-weight:100;
	font-size:1rem;
	line-height: 1.5;
	font-family: "Karla";
}
.personaltrainer-text li{
	font-weight:100;
	font-size:1rem;
	line-height: 1.5;
	font-family: "Karla";
}

.ptpage-content{
	margin-top: 40px;
	margin-bottom: 50px;
}

.userprofile-content{
	margin-top: 50px;
	margin-left: 2.5px;
	margin-bottom: 50px;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*BECOME A PT PAGE*/
.personaltrainer-instruction-text{
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size:1.5rem;
	font-family: "Karla";
	line-height: 1.2;
	
}

/*--------------------------------------------------------------------------------------------------------------*/
/* GOOGLE MAPS */
#map {
    height: 400px;
    width: 100%;
	border: solid;
	border-color: black;
}
/*--------------------------------------------------------------------------------------------------------------*/
/*BOOKING FORM LANDING PAGE*/

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


.card-body .form-group {
	position: relative;
	margin-bottom: 20px; 

}
.card-body .form-control {
	background-color: #ebecee;
	border-radius: 5px;
	border: none;
	height: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
}

.card-body .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.card-body .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.card-body .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.card-body input[type="date"].form-control:invalid {
	color: rgba(62, 72, 92, 0.3);
}

.card-body select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.card-body select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.79);
	font-size: 14px;
	
}

.card-body select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.card-body .form-label {
	display: inline-block;
	color: black;
	font-weight: 400;
	margin-bottom: 6px;
	margin-left: 7px;
	font-size:16px;
}
.form-control-label{
	display: inline-block;
	color: black;
	font-weight: 400;
	margin-bottom: 6px;
	margin-left: 7px;
	font-size:16px;
}

.booking-cta {
	margin-top: 10px;
}
/*--------------------------------------------------------------------------------------------------------------*/
/*BOOKING CONFIRMATION*/
#confirmation-text h1{
	font-weight: bold;
	font-size:2.5rem;
	font-family: "Karla";
	letter-spacing: 1.5px;
}
#confirmation-check{
	margin-top: 10%;
}
/*--------------------------------------------------------------------------------------------------------------*/
/*BOOKING INSTRUCTIONS*/
.booking-instruction{
	height: 24rem;
	font-family: "Karla";
	letter-spacing: 1.2px;
	font-size: 1rem;
	margin-bottom: 20px;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*TRUST AND SAFETY PAGE*/
.safety-header-text{
	font-weight: bold;
	font-size:3.6rem;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	padding-top:35px;
}

.safety-paragraph{
	font-weight: bold;
	font-size:1rem;
	font-family: "Karla";
	letter-spacing: 1.5px;
}

#safety-title{
	font-weight: bold;
	font-size:1.2rem;
	font-family: "Karla";
	letter-spacing: 1.5px;
    padding-top: 50px;
}
/*--------------------------------------------------------------------------------------------------------------*/
/*REVIEW*/
#see-all-review-text{
	color: #161836;
	font-weight:100;
	font-size: 1.3rem;
	line-height: 1;
	font-family: "Karla";
}
.checked {
    color: orange;
}

#delete-form{
	display: inline;
}
.review-text{
	font-weight:100;
	font-size: 1.5rem;
	line-height: 1;
	font-family: "Karla";
}

.review-text-2{
	font-weight:100;
	font-size: 1.1rem;
	line-height: 1;
	font-family: "Karla";
}

ht:20px;
}
/*--------------------------------------------------------------------------------------------------------------
