<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153757373-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'UA-153757373-1');
	</script>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <title>RISE Fitness | Revolutionising Personal Training</title>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Lexend+Peta&display=swap" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Amiri|Domine|Karla|Saira+Extra+Condensed&display=swap" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<!-- Custom stlylesheet -->
	<link rel="stylesheet"  href="/stylesheets/main.css">
	<!-- Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	<!-- Stripe -->
	<script src="https://js.stripe.com/v3/"></script>
	
</head>
<body>
	
	<!--Navbar v4 -->
	<nav id="mainNavbar" class="navbar justify-content-between navbar-expand-sm py-0 fixed-top">
	  <a class="navbar-brand pt-1" href="/"></i>RISE</a>
		   	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
		   		<span class="navbar-toggler-icon"></span>
		  	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" href="/bookinginstructions">How to book</a></li>	
		<li class="nav-item"><a class="nav-link" href="/trust">Trust & Safety</a></li>	
		<li class="nav-item"><a class="nav-link" href="/personaltrainers/instructions">Become a PT</a></li>
		<!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">Menu</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/trust">TRUST AND SAFETY</a>
				  <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/bookinginstructions">HOW TO BOOK A TRAINER</a>	
				 <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/allpersonaltrainers">ALL TRAINERS</a> -->
			</ul> 
			<div>
			<ul class="navbar-nav m1-auto">
					<li><a class="nav-link" href="/register">Register</a></li>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<!-- <li><a class="nav-link" href="/users/">My Profile</a></li> -->
					<!-- <li><a class="nav-link" href="/logout">Log Out</a></li> -->
				
			</ul>
		 </div>
	</nav>
	
    
<div class="fas fa-times fa-7x mt-5 pt-5 text-center container-fluid"></div>
<div class="container-fluid mt-4" id="confirmation-text">
	<h1 class="text-center">Your payment of <strong>£60.00</strong> has not been processed. Please log back into your account and try again. If the payment still does not work please email risefitnesslondon@gmail.com
	</h1>
</div>

<% include ../partials/footer %>