<% include ../partials/header %>

<div class="fas fa-check fa-7x text-center container-fluid" id="confirmation-check"></div>
<div class="container-fluid mt-4 " id="confirmation-text">
	<h1 class="text-center">Hi <%= currentUser.firstName %>, thanks for booking with RISE! A confirmation email has been sent to you. Please wait for the personal trainer to respond to your request. Click <a href="users/<%= currentUser._id %>">here</a> to see your booking. 
	</h1>
</div>

<% include ../partials/footer %>