<% include ../partials/header %>


<div class="container mt-1">
	<div class="row">
        <div class="d-flex justify-content-center align-items-center login-container">
<form class="login-form" action="/personaltrainers/<%= foundPersonalTrainer_id %>/reviews/<%= review._id %>?_method=PUT" method="POST" style="width: 400px;">
				<h1 class="mb-4 font-weight-light text-center mt-5">CHANGE REVIEW</h1>
                <div class="form-group">
                    <label for="rating">Let others know about your experience:</label>
                    <fieldset class="starability-basic form-group" id="rating">
                    <div>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" <% if (review.rating === 5) { %> checked <% } %> />
                    <label for="first-rate5" title="5 stars - Amazing">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" <% if (review.rating === 4) { %> checked <% } %> />
                    <label for="first-rate4" title="4 stars - Very good">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" <% if (review.rating === 3) { %> checked <% } %> />
                    <label for="first-rate3" title="3 stars - Average">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" <% if (review.rating === 2) { %> checked <% } %> />
                    <label for="first-rate2" title="2 stars - Not good">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" <% if (review.rating === 1) { %> checked <% } %> />
                    <label for="first-rate1" title="1 star - Terrible">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                    </label>
                </div>
                        
                    </fieldset>
                </div>
                <div class="form-group">
                <textarea class="form-control" type="text" name="review[text]" placeholder="Edit your review..." rows="5"><%= review.text %></textarea>
                </div>
				
				
                <div class="form-group">
                    <button class="btn mt-2 rounded-pill btn-lg btn-custom btn-block">SUBMIT CHANGES</button>
                </div>
				<div>
					<a href="/personaltrainers/<%= foundPersonalTrainer_id %>">Go Back</a>
				</div>
            </form>
			
            
        </div>
    </div>
</div>

<% include ../partials/footer %>
