<% include ../partials/header %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center" class="rise-rating"><%= foundPersonalTrainer.firstName %>'s Reviews</h1>
            <div class="thumbnail">
                <div class="caption-full">
                    <% if (foundPersonalTrainer.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (foundPersonalTrainer.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (foundPersonalTrainer.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (foundPersonalTrainer.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (foundPersonalTrainer.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= foundPersonalTrainer.reviews.length %>)</em>
                    </p>
                    <p>
                        Current trainer rating: <strong><%= foundPersonalTrainer.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4 class="text-center review-text">All Reviews:</h4></p>
                    <hr style="margin-top: 0;">
                    <% foundPersonalTrainer.reviews.forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3 review-text-2 pt-0 pb-1">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div class="my-2">Review by: <strong><%= review.author.firstName %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/personaltrainers/<%=foundPersonalTrainer._id %>/reviews/<%=review._id %>/edit">EDIT</a>
                            <form id="delete-form" action="/personaltrainers/<%=foundPersonalTrainer._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="DELETE">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <% } %>
                    <div class="text-center">
                        <a class="btn btn-custom <% if (currentUser && foundPersonalTrainer.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/personaltrainers/<%= foundPersonalTrainer._id %>/reviews/new">
                            WRITE NEW REVIEW</a>
                    </div>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-custom" href="/personaltrainers/<%= foundPersonalTrainer._id %>"><i class="fa fa-arrow-left"></i> Back to <%= foundPersonalTrainer.firstName %>'s page </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Review section-->
</div>

<% include ../partials/footer %>