<% include ../partials/header %>

<div class="main-content">

	<div class="header pb-8 mt-5 pt-5 pt-lg-8 d-flex align-items-center opacity-8 bg-gradient-default container-fluid">
		<div className="d-flex align-items-center">
			<div class="row">
				<div class="col-lg-7 col-md-10">
					<h1 class="text">Hello <%= foundUser.firstName %></h1>
			<p class="text mb-5">Welcome to your profile page. You can view and update your account details here.</p>
				<a href="#bookings" class="scrollto btn btn-custom">Go to bookings</a>
				</div>
			</div>
		</div>
	</div>

	<div class="mt--7 container-fluid" style="margin-top: -6rem" ;>
		<div class="row">
			<div class="order-xl-2 mb-5 mb-xl-0 col-xl-4">
				<div class="bg-secondary shadow card">
					<div class="justify-content-center row">
						<div class="order-lg-2 col-lg-3">
							<div class="card-profile-image">
								<a href="#pablo">
		<img alt="#" class="d-none d-sm-block" src=<%=foundUser.profilePicture%> class="rounded-circle">
								</a>
							</div>
						</div>
					</div>
					<div class="text-center pt-8 pt-md-4 pb-0 pb-md-4 card-header"></div>
					<div class="card-body" style="margin-top: 20%;">
						<div class="text-center">
							<hr class="mt-4">
							<h3><strong><%= foundUser.firstName %> <%= foundUser.lastName %></strong></h3>
							<span><h6><%=foundUser.accountType %></h6></span>
						</div>
					</div>
				</div>
			</div>
			<div class="order-xl-1 col-xl-8">
				<div class="bg-secondary shadow card">
					<div class="bg-grey border-0 card-header">
						<div class="align-items-center row">
							<div class="col-7">
								<h3 class="mb-0">My account</h3>
							</div>
							<div class="text-right col-5">
					<a href="" id=<%= foundUser._id %> class="btn btn-custom update-button mr-2">Update</a>
							</div>
						</div>
					</div>
					
					<div class="card-body">
						 <form>
							<h6 class="heading-small text-muted mb-4">User information</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-email">Email address</label>
							<input name="userProfile[email]" id="input-email" placeholder="jesse@example.com" type="email" class="form-control-alternative form-control" value="<%= foundUser.email %>">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
							<label class="form-control-label" for="input-profile-picture">Profile picture</label>
											<input id="input-profile-pic" type="text" class="form-control-alternative form-control" value="<%= foundUser.profilePicture %>">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-first-name">First name</label>
											<input id="input-first-name" placeholder="First name" type="text" class="form-control-alternative form-control" value="<%= foundUser.firstName %>">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-last-name">Last name</label>
											<input id="input-last-name" placeholder="Last name" type="text" class="form-control-alternative form-control" value="<%= foundUser.lastName %>">
										</div>
									</div>
								</div>
							</div>
							<hr class="my-4">
							<h6 class="heading-small text-muted mb-4">Contact information</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="form-control-label" for="input-address">Address</label>
								<input id="input-address" placeholder="Home Address" type="text" class="form-control-alternative form-control" value="<%= foundUser.address %>">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-control-label" for="input-country">Postal code</label>
											<input id="input-postal-code" placeholder="Postal code" type="text" class="form-control-alternative form-control" value="<%= foundUser.postCode %>">
										</div>
									</div>
								</div>
							</div>
							<hr class="my-4">
							<h6 class="heading-small text-muted mb-4">Biography</h6>
							<div class="pl-lg-4">
								<div class="form-group">
									<label class="form-control-label">About Me</label>
			<textarea id="input-about-me" placeholder="Tell us a bit about you!" rows="4" class="form-control-alternative form-control"><%= foundUser.aboutMe %></textarea>
								</div>
							</div> 
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section id="bookings">
		<div class="header pb-0 mt-4 py-5 pt-lg-8 d-flex align-items-center opacity-8 bg-gradient-default">
			<div className="d-flex align-items-center">
				<div class="row container-fluid">
					<div class="col-lg-12 ">
					<%if(!foundBooking[0]){ %>
						<h1 class="text">You currently have no bookings. </h1>	
					<%}else{%>
						<h1 class="text">Bookings</h1>
						<p class="text">View your booking information below.</p>	
					<%}%>	
					</div>
				</div>
			</div>
		</div>
		<div id="root"></div>
	</section>
	 <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>










<script type="text/javascript" src="/dist/bundle.js"></script>
<script src="/show.js"></script>

<% include ../partials/footer %>