<% include ../partials/header %>

<div class="mt-5">
	<div id="login-form" class="row d-block">
		<div class="about-me-form container">
		<h1 style="text-align: center;" class="form-text">ABOUT ME</h1>
			<h5 class="text-center">Outline your experiences, training style and availability.</h5>
			<div style="width: 95%; margin: 25px auto;" >
		<textarea class= "form-control" id="about-me-textbox" type="text" maxlength="900" required><%= foundPersonalTrainer.aboutMe %></textarea>
				<div class ="form-group text-center">
		<button id=<%= foundPersonalTrainer._id %> class= "btn btn-lg btn-primary mt-4 pt-text-btn submit-button">SUBMIT</button>
				</div>
			<div>
				<a href="/personaltrainers/<%= foundPersonalTrainer._id %>" id="home-page-url">Preview your page</a>
			</div>	
		   </div>	
		</div>
	</div>
</div>




<script>
	function handleConfirmation(event) {
		
		event.preventDefault();
		
		var aboutMeContent = document.getElementById('about-me-textbox').value;		
		var button = event.target;
		var requestPayload = {};
		var id = button.id;
		var url = '/users/' + id + '/aboutme';
		
		
		requestPayload.content = aboutMeContent;  
		button.textContent = "Updated!";
		button.classList.add('btn-accepted');
		
		fetch(url, {
			body: JSON.stringify(requestPayload),
			method: 'PUT',
			headers: {
				'content-type': 'application/json'
			}
		}).then(function(response) {
			//
		});
		
	};
	
	var submitButton = document.querySelector('.submit-button');
	submitButton.addEventListener('click', handleConfirmation); //named function - method handleConfirmation exist outside 
	
</script>

<% include ../partials/footer %>