<% include ../partials/header %>

<section class="container-fluid text-center">
	<!-- <h5 id="safety-title">Trust and Safety for personal trainers and clients</h5> -->
	<div>
		<h1 class="safety-header-text mt-5">We believe in you</h1>
	</div>

	<p class="safety-paragraph">Become a RISE trainer.</p>
</section>


<section class="container-fluid mb-5 ">
<div class="container-fluid mt-3">
	<div class = "row justify-content-around text-center">
		<div class = "col-lg-6 d-flex align-items-center justify-content-center">
<img class="img-thumbnail" style="margin-right: auto;" src="https://source.unsplash.com/9idqIGrLuTE">
			<div class="row justify-content-around">
		</div>
	</div>
	
<div class = "col-lg-6">
	<div class="row justify-content-around">
		<div class="col-lg-11">
			<div class="mb-5">
			<h4 class="mb-2 mt-5"><strong>At RISE we pride ourselves on our trainers.</strong></h4>
			<p>Our mission is simple - empower people through personal fitness. This means empowering our trainers to become high performance individuals. We believe happy trainers equal happy clients. </p>
			</div>
			<div class="mb-5">
			<h4 class="mb-2"><strong>What we expect from you.</strong></h4>
			<p>All we ask is that when you work with clients you make them feel safe and motivated. We want you to translate your passion for personal fitness to every client you interact with. Positive energy is contagious! </p>
			</div>
			<div class="mb-5">
			<h4 class="mb-2"><strong>What qualifications do I need?</strong></h4>
			<p>We expect all of our trainers to have at minimum a Level 3 Qualification in Personal Training. </p>
			</div>
			<div class="mb-5">
			<h4 class="mb-2"><strong>How do I register?</strong></h4>
			<p>To register you will first need to email us at <a href="mailto:risefitnesslondon@gmail.com?subject=RISE personal trainer application">risefitnesslondon@gmail.com</a>. Once we have approved your documents we will then onboard you onto the RISE platform. Your profile will then be available for clients to book. </p>
			</div>
			</div>
			</div>
		</div>
	</div>	
</div>
</section>




<!-- <div>
	<div class="row mt-1 text-center">
		<div class="container  col-12">	
			<div style="width: 90%; margin: 25px auto;" class="pb-5">
				
<h4 class="personaltrainer-instruction-text">Do you have a Level 3 personal training qualification, DBS, right to work in the UK and insurance?</h4>
<i class="fas fa-caret-down fa-2x"></i>
<h4 class="personaltrainer-instruction-text">If yes, please send us an email to risefitnesslondon@gmail.com so we can verify your documents.</h4>
<i class="fas fa-caret-down fa-2x"></i>
<h4 class="personaltrainer-instruction-text">We will then check your documents and approve your registration if everything looks good!</h4>
<i class="fas fa-caret-down fa-2x"></i>
<h4 class="personaltrainer-instruction-text">Once you've been approved we will send you a registration link so you can register.</h4>
<i class="fas fa-caret-down fa-2x"></i>
<h4 class="personaltrainer-instruction-text">After you've registered - your profile will be on the RISE platform and clients will be able to book you.</h4>
			
		   </div>	
		</div>
	</div>
</div> -->
<% include ../partials/footer %>