<% include ../partials/header %>
<div class="container-fluid" id="show-all-header-margin">
	
<header class="section-header">
		<% if(foundPersonalTrainers[0]){ %>
			<h3>Personal Trainers in <%= borough %></h3>
			<p>Click on a trainer to find out more.</p>
		<% }else{ %>
			<h3>There are currently no trainers in <%= borough %> at the moment.</h3>
		<% } %>
</header>
	

 <section id="trainers">
      <div class="container">
        <div class="row">
              <% foundPersonalTrainers.forEach(function(personalTrainer){ %>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member img-thumbnail">
<img src="<%= personalTrainer.profilePicture %>" class="img-fluid-showall" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4><%= personalTrainer.firstName %> <%= personalTrainer.lastName %></h4>
                  <% if (personalTrainer.rating === 0) { %>
				<em style="color: black;">No reviews yet.</em>
                     <% } else { %>
                      <span class="fa fa-star checked fa-xs"></span>
                   	  <span class="fa fa-star fa-xs <% if (personalTrainer.rating > 1.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star fa-xs <% if (personalTrainer.rating > 2.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star fa-xs <% if (personalTrainer.rating > 3.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star fa-xs <% if (personalTrainer.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
                  <div class="mt-2">
            <a href="/personaltrainers/<%= personalTrainer._id %>"  id="trainers-btn">MORE INFO<a/>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% }); %>
        </div>
      </div>
</section>
	
	
	
	
	
	
	
	
	
	
	
		
	<!-- only show PTs if req.query.postcode === 'SE'/prefix --> 
<!-- <div class = "row text-center" style="display:flex; flex-wrap: wrap;">
	<% foundPersonalTrainers.forEach(function(personalTrainer){ %>
		<div class = "col-lg-3 col-md-4 col-sm-6 mt-4">
			<div class = "img-thumbnail">	
				<img src="<%= personalTrainer.profilePicture %>">
				<div class="caption">
				<h4 class="mt-2 mb-0 review-text"><%= personalTrainer.firstName %></h4>
				<% if (personalTrainer.rating === 0) { %>
					<em>No reviews yet.</em>
					 <% } else { %>
					<span class="fa fa-star checked fa-xs"></span>
					<span class="fa fa-star fa-xs <% if (personalTrainer.rating > 1.5) { %> checked <% } %>"></span>
  					<span class="fa fa-star fa-xs <% if (personalTrainer.rating > 2.5) { %> checked <% } %>"></span>
  					<span class="fa fa-star fa-xs <% if (personalTrainer.rating > 3.5) { %> checked <% } %>"></span>
					<span class="fa fa-star fa-xs <% if (personalTrainer.rating > 4.5) { %> checked <% } %>"></span>
					<% } %>
				</div>
<p> <a href ="/personaltrainers/<%= personalTrainer._id %>" class = "btn btn-primary mt-1 mb-3">MORE INFO<a/></p>	
				</div>
			</div>
		<% }); %>
	</div>	
</div> -->


<% include ../partials/footer %>