<% include ../partials/header %>

<section class="container-fluid">
	<div class="row align-items-center ptpage-content">
		<div class="col-lg-6" style="z-index: -1;">
			<div class="row justify-content-around mt-5">
				<div class"col-lg-8 mt-5">
					<img class="img-thumbnail" src="<%= foundPersonalTrainer.profilePicture %>">
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row justify-content-center">
				<div class="col-11  personaltrainer-text">
					<h2 class="text-center mt-5"><span class="rise-rating">About Me</span></h2>
					<p class="text-center mb-1"><%= foundPersonalTrainer.aboutMe %>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row align-items-center ptpage-content">
		<div class="col-lg-6 order-lg-1 order-sm-2 order-md-2 order-xs-2">
			<div class="row justify-content-center">
				
						<div class="col-11 personaltrainer-text mb-5">
					<h2 class="text-center "><span class="rise-rating">Qualifications </span></h2>
					<!-- <div class="text-center"><i class="fas fa-check fa-4x mb-2"></i></div> -->
					<div class="text-center">
						<li class="text-center">Level 2 Certificate in Fitness Instructing – Gym</li>
						<li class="text-center">Level 2 Diploma in Health, Fitness, and Exercise Instruction</li>
						<li class="text-center">Level 2 Diploma in Instructing Exercise and Fitness</li>
						<li class="text-center">Level 3 Diploma in Fitness Instructing and Personal Training</li>
						<li class="text-center">Level 3 Diploma in Personal Training</li>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6 order-lg-2 order-md-1 order-sm-1 order-xs-1">
			<div class="bg-secondary shadow card">
				<div class="bg-grey card-header">
					<div class="align-items-center row">
						<div class="col-7">
							<h3 class="mb-0">Book <%=foundPersonalTrainer.firstName%></h3>
						</div>
						<div class="text-right col-5">
						</div>
					</div>
				</div>
			
			
			<div class="card-body">
				<form action="/personaltrainers/<%=foundPersonalTrainer._id%>/bookings" method="POST">
					<div class="form-group">
						<span class="form-label">Where do you want to train?</span>
						<input class="form-control" type="text" placeholder="enter address of location i.e. home/park/office" name="booking[sessionAddress]" required>
					</div>	
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<span class="form-label">Post Code</span>
								<input class="form-control" type="text" placeholder="post-code" name="booking[sessionPostCode]" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<span class="form-label">Duration</span>
									<select class="form-control" name="booking[sessionLength]" required>
									<option>1 hour</option>
									<option>2 hours</option>
									</select>
								<span class="select-arrow"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<span class="form-label">Which Day?</span>
								<input class="form-control" type="date" name="booking[sessionDate]" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<span class="form-label">Choose Exercise</span>
								<select class="form-control" name="booking[sessionType]" required>
								<option>Boxing</option>
								<option>High Intensity Training</option>
								<option>Cardio</option>
								</select>
								<span class="select-arrow"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<span class="form-label">What Time?</span>
								<input min="05:00" max="22:00" type="time" class="form-control" name="booking[sessionTime]" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<span class="form-label">How Many People</span>
								<select class="form-control" name="booking[numberOfPeople]" required>
								<option value="" disabled selected hidden>0</option>
								<option>1</option>
								<option>2</option>
								</select>
								<span class="select-arrow"></span>
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-custom">BOOK NOW</button>
					</div>
				</form>
			</div>
			
			</div>
			
		</div>
		
		
		
		
</section>

<!--Review section-->
<section class="container-fluid review-text-2">
	<hr class="my-4">
	<div class="thumbnail">
		<div class="caption-full">
		<% if (foundPersonalTrainer.rating === 0) { %>
		<h5><em>No reviews yet.</em></h5>
		<% } else { %>
<p class="text-center rise-rating">Rise Rating: <span><strong><%= foundPersonalTrainer.rating.toFixed(0) %>/5</strong></span></p>
		<p><h4 class="review-text-2">Latest reviews for <%= foundPersonalTrainer.firstName %>:</h4></p>
				<p>
					<span class="fa fa-star checked fa-sm"></span>
					<span class="fa fa-star fa-sm <% if (foundPersonalTrainer.rating > 1.5) { %> checked <% } %>"></span>
					<span class="fa fa-star fa-sm <% if (foundPersonalTrainer.rating > 2.5) { %> checked <% } %>"></span>
					<span class="fa fa-star fa-sm<% if (foundPersonalTrainer.rating > 3.5) { %> checked <% } %>"></span>
					<span class="fa fa-star fa-sm<% if (foundPersonalTrainer.rating > 4.5) { %> checked <% } %>"></span>
					<em class="review-text-2">(total reviews: <%= foundPersonalTrainer.reviews.length %>)</em>
				</p>
				<hr style="margin-top: 0;">
				<% foundPersonalTrainer.reviews.slice(0, 5).forEach(function(review){ %>
					<div class="row">
						<div class="col-md-3 pt-0 pb-1">
							<%- '<span class="fa fa-star checked fa-sm"></span>'.repeat(review.rating) %>
							<%- '<span class="fa fa-star fa-sm"></span>'.repeat(5 - review.rating) %>
							<div class="my-2"><strong><%= review.author.firstName %>'s review:</strong></div>
							<span><em><%= review.updatedAt.toDateString() %></em></span>
						</div>
						<div class="col-md-9 rating-buttons">
							<p style="text-align: justify; word-wrap: break-word;">
								<%= review.text %>
							</p>
							<% if(currentUser && review.author.id.equals(currentUser._id)){ %>
							<a class="btn btn-xs btn-warning" href="/personaltrainers/<%=foundPersonalTrainer._id %>/reviews/<%=review._id %>/edit">EDIT</a>
							<form id="delete-form" action="/personaltrainers/<%=foundPersonalTrainer._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
								<input type="submit" class="btn btn-xs btn-danger" value="DELETE">
							</form>
								<% } %>
						</div>
					</div>
					<hr>
					<% }); %>
					<div style="margin-bottom: 10px;" class="text-center">
					<h4><a id="see-all-review-text" href="/personaltrainers/<%= foundPersonalTrainer._id %>/reviews"><i class="fa fa-search fa-sm" aria-hidden="true"></i> See all <%=foundPersonalTrainer.firstName %>'s reviews</a></h4>
					</div>
					<% } %>
					<div class="text-center">
						<a class="btn btn-custom mb-5<% if (currentUser && foundPersonalTrainer.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/personaltrainers/<%= foundPersonalTrainer._id %>/reviews/new">WRITE NEW REVIEW</a>
		</div>
	</div>
</div>
</section>	



<!-- Google Maps Script (id="map" to show map) -->
<!-- <script>
  function initMap() {
    const lat =  foundPersonalTrainer.lat ;
    const lng =  foundPersonalTrainer.lng ;
    const center = {lat: lat, lng: lng };
    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    const contentString = `
      <strong> foundPersonalTrainer.username <br />
       foundPersonalTrainer.address </strong>
      
    `
    const infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    const marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkfwbdhOAEp2iKWytIAAB8v6qOHjhv-Vw&callback=initMap"></script>	 -->

<% include ../partials/footer %>